[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CompareTests"]
	path = CompareTests
	url = https://github.com/cran/CompareTests
	shallow = true
	registered = true
